.footer-bg {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #000000;
}

.footer-container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer h3 {
  margin-bottom: 32px;
}

footer ul {
  margin-bottom: 32px;
}

footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer-contato {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  width: 360px;
  height: 2px;
  background-color: #2e2e2e;
  margin-top: 16px;
}

.footer-contato h3 {
  margin-left: 32px;
}

.footer-header-menu {
  margin-left: -32px;
  display: block;
}

.header-menu a {
  text-decoration: none;
}

.footer-redes img {
  margin-left: 32px;
}

.footer-conteiner a:hover {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer-bg {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #000000;
  }

  .footer-container {
    margin-top: -45px;
  }

  .tirar {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer-bg {
    grid-template-columns: 1fr 1fr;
  }

  .footer-copy {
    margin-top: 0px;
    margin-left: 80px;
  }

  .colocar {
    display: none;
  }

  .footer-bg .footer-informacoes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    margin-left: -20px;
    background-color: #2e2e2e;
    margin-top: 16px;
  }

  .alinhar {
    margin-left: -20px;
  }

  .footer-header-menu a {
    text-decoration: none;
  }
  .footer-header-menu ul {
    margin-top: -30px;
  }

  .footer-bg {
    padding: 100px 10px 10pxx 10px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 50px;
  }

  .footer-contato h3,
  .footer-informacoes h3 {
    margin-left: 16px;
  }

  .footer-header-menu li {
    margin-left: 30px;
  }
}
