.perguntas-container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.perguntas-container h2 {
  color: #000000;
}

.perguntas {
  margin-bottom: 20px;
}

.perguntas {
  padding: 20px;
  border-radius: 4px;
}
dl {
  background-color: var(#2e2e2e);
}

.perguntas:nth-child(even) {
  background-color: #f5f5f5; /* Cor de fundo para perguntas ímpares */
}

/* Estilizar perguntas pares */
.perguntas:nth-child(odd) {
  background-color: #ffffff; /* Cor de fundo para perguntas pares */
}

.perguntas button {
  display:grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
text-align: left;
    outline: none;
    text-transform: uppercase;

}
.perguntas button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}

.perguntas button::after {
  content: "";
  display: inline-block;
  width: 10x;
  height: 10px;
  background: url(/img/icones/seta.svg);
  margin-left: 40px;
  margin-top: 10px;
}

.perguntas dd {
  display: none;
}

.ativas{
  display: block !important;
}

 

.button {
  padding-left: 8px;
  padding-top: 8px;
  max-width: 80ch;
}


.perguntas-container h2 {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .perguntas {
    padding: 10px;
    border-radius: 4px;
    align-items: center;
  }

  .perguntas-container h2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .perguntas {
    padding: 10px;
    border-radius: 4px;
    align-items: center;
  }

  .perguntas-container h2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  dd {
    padding: 20px 10px 20px 10px;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .perguntas-container h2 {
    font-size: 40px;
  }

  .perguntas-container span {
    display: none;
  }

   dd {
    padding: 20px 10px 20px 10px;
    font-size: 16px;
  }
}

/*ultimas revisoes